.container {
  padding:  0rem;
}

.main {
  min-height: 5vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #ffffff;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 1;
  line-height: 1.15;
  font-size: 5rem;
}

.title,
.description {
  text-align: center;
  font-size: 20px;
}


.description {
  margin-top: 1rem;
  margin-bottom: .0rem;
  line-height: 1.25;
  font-size: 1.25rem;
}



.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1650px;
}

.card {
  background-color: #068100;
  margin: 1rem;
  padding: 1.25rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #000000;
  border-radius: 5px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #6cd65c;
  color: #6bff64;
  border-color: #d4ff00;
}

.card h2 {
  margin: 0 0 0.25rem 0;
  font-size: 1.25rem;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 1;
  font-size: 1.15rem;
  line-height: 1.25;
}

.logo {
  height: 1rem;
  margin-left: 0rem;
}




.card {
  border-color: #750a0a;
}


.logo img {
  filter: invert(1);
}

.sameSize {
  width: 300px; /* Adjust the width as per your requirements */
  height: 160px; /* Adjust the height as per your requirements */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.card {
  display: flex;
  flex-wrap: wrap;
  /* Add any additional styling for the card here */
}

.widerContainer {
  width: 600px; /* Adjust the width value according to your desired width */
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.outerContainer {
  background: linear-gradient(to right,);
}

.Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imageContainer {
  display: flex;
  align-items: center;
}

.imageContainer {
  width: 300px;
  height: 110px;
  display: flex;
  justify-content: center;
}